.test {
    flex-direction: column;
    justify-content: space-between;

    padding: 20px 20px;

    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);

    backdrop-filter: blur(15px);
}

.marginLeft {
    margin-left: 65px;
    margin-right: 120px;
}

.picContainer {
    position: absolute;
    width: 100%;
    padding: 0;
    margin: 0;
    opacity: 0.3;
    min-width: 800px;
}

.welcome {
    height: calc(64vw - 80px);
}

@media (max-width: 800px) {
    .welcome {
        height: 450px;
        transition: none; /* Remove transition for screens less than 800px */
    }
}

.grey-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #989898; /* Set the desired grey background color */
    z-index: -1;
}

.fa-code, .fa-list-check, .fa-building, .fa-address-card {
    padding: 5px;
    font-size: 25px;
    margin-right: 5px;
    border-radius: 25%;
    color: white;
}

.sameLine {
    display: inline-block;
}

.floatRight {
    text-align: right;
    margin-right: 10px;
}

.view {
    border: none;
    cursor: pointer;
    background: #545454;
    color: white;
    border-radius: 5px;
    font-size: 15px;
    padding: 0px 5px 5px 5px;
    margin: 0px;
}

.subTitle {
    position: absolute;
    font-size: 20px;
    margin-left: 10%;
    margin-top:calc(20% + 80px);
    color: white;
}

.linkTo {
    color: inherit;
    text-decoration: none;
}

.linkTo {
    background:
            linear-gradient(
                    to right,
                    grey,grey
            ),
            linear-gradient(
                    to right,
                    rgba(255, 0, 0, 1),
                    rgba(255, 0, 180, 1),
                    rgba(0, 100, 200, 1)
            );
    background-size: 100% 3px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
}

.linkTo:hover {
    background-size: 0 3px, 100% 3px;
}

.arrow{
    display: inline-block;
    width: 30px;
    height: 30px;
    cursor:pointer;
    transition:0.5s;
    overflow:hidden;
    transform:rotatez(180deg);
    margin-bottom: -10px;
}

.arrow:after{
    position:absolute;
    display:block;
    content:"";
    color:white;
    width: 20px;
    height: 15px;
    top:-1px;
    border-bottom:solid 2px;
    transform:translatex(4px);
}

.arrow:before{
    position:absolute;
    display:block;
    content:"";
    color:white;
    width: 8px;
    height: 8px;
    border-top:solid 2px;
    border-left:solid 2px;
    top:50%;
    left:2px;
    transform-origin:0% 0%;
    transform:rotatez(-45deg);
}

.arrow:hover:before {
    animation: aniArrow01 1s cubic-bezier(0, 0.6, 1, 0.4) infinite 0.5s;
}

.arrow:hover:after {
    animation: aniArrow02 1s cubic-bezier(0, 0.6, 1, 0.4) infinite 0.5s;
}

.view:hover .arrow:before {
    animation: aniArrow01 1s cubic-bezier(0, 0.6, 1, 0.4) infinite 0.5s;
}

.view:hover .arrow:after {
    animation: aniArrow02 1s cubic-bezier(0, 0.6, 1, 0.4) infinite 0.5s;
}

@keyframes aniArrow01 {
    0% {
        transform:rotatez(-45deg) translateY(30px) translateX(30px);
    }
    100% {
        transform: rotatez(-45deg) translateY(-35px) translateX(-35px);
    }
}

@keyframes aniArrow02 {
    0% {
        transform:translateX(45px);
    }
    100% {
        transform:translateX(-44px);
    }
}